#language-dropdown {
    position: relative; /* Ändere die Position auf relative */
}

#language-menu {
    position: absolute;
    top: 250%; /* Positioniere das Menü unterhalb des "Language"-Elements */
    left: -0.25em;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    display: block;
    max-height: 0px;
    padding: 0;
    transition: 0.8s ease, padding 0.8s ease; 
    overflow: hidden;
}

#language-menu.active {
    display: block; /* Zeige das Menü an, wenn das "Language"-Element aktiv ist */
    max-height: 100px;
}

#language-menu li {
    margin-top: 1em;
    margin-bottom: 1em;
}

#language-menu li a {
    text-decoration: none;
    color: #333;
    padding: 0.2em 0.6em;
}

#language-menu li a:hover {
    color: var(--link);
}